
Requirements:


- This is an application where you should record a worker's shifts.
- You need to create two applications: the Web API and the UI that will call it.
- All validation and user input should happen in the UI app.
- Your API's controller should be lean. Any logic should be handled in a separate "service".
- You should use SQL Server, not SQLite
- You should use the "code first" approach to create your database, using Entity Framework's migrations tool.
- Your front-end project needs to have try-catch blocks around the API calls so it handles unexpected errors (i.e. the API isn't running or returns a 500 error.)