<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Please replace the APIBaseURL value with the URL for the ShiftLogger WebAPI -->
    <add key="APIBaseURL" value="http://192.168.1.57/api/"/>
    <!-- Preferred DateTime format -->
    <add key="PreferredDateTimeFormat" value="dd-MM-yy HH:mm"/>
  </appSettings>
</configuration>